{% extends "base2.html" %}
{% load static %}
{% block content %}
<!-- Available Slots Section -->
<section class="colorful jumbotron mb-0" role="banner">
    <div class="container available-slots-container">

        <div class="row mt-2 justify-content-between">
            <div class="col-md-8 text-white align-self-center mb-2 p-4">
                <h1 style="color:#000000"><b><i>Available Slots</i></b></h1>
                <p style="color:#000000">
                    <b>Explore the available slots and book your preferred time for learning.</b>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slots-container mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 shadow-lg rounded">
                <div class="row mt-3 mb-3">
                    <form action="{% url 'available_slots_student' teacher.id %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="selectedDate">Select Date</label>
                            <input type="date" name="selectedDate" id="selectedDate" class="form-control">
                        </div><br>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block">Check Availability</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Available Slots Column -->
            <div class="col-lg-9 px-4 mb-5 ml-5">
                {% for event in teacher_events %}
                    <div class="card mb-4 shadow-lg" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">
                                <strong>Date:</strong> {{ event.start_date }}<br>
                                <strong>Time:</strong> {{ event.start_time }} to {{ event.end_time }}
                            </p>
                            <!-- <a href="/event-edit/{{teacher.id}}/{{ event.id }}" class="btn btn-primary">Book Slot</a> -->
                            <a href="{% url 'book_slot' teacher.id student.id event.id %}" class="btn btn-primary">Book Slot</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}
