<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="https://hexaviewtech.com/" style="color: white;"><img src="/media/teacher/hexaview_logo.jfif" alt="Logo" height="70"></a>
            <a class="navbar-brand" style="color: white;"><b><i>Teacher App</i></b></a>
            <a class="navbar-brand" href="/student-profile/" style="color: white;"><b><i>Student Profile</i></b></a>
            <a class="navbar-brand" href="/teachers-list/" style="color: white;"><b><i>Teacher List</i></b></a>            
            <div class="d-flex ms-auto">
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_query">
                        <button class="btn btn-success my-2 my-sm-0 ms-2" type="submit">Search</button>
                    </div>
                </form>
            </div>
            
                <!-- <div class="mx-auto col-6">
                  <form>
                   <div class="mb-3">
                    <label for="exampleInputEmail1" cLass="form-label">Search Food</label>
                    <input name="search" type="text" class="form-control">
                    </div>                                                                  
                  <button type="submit" class="btn btn-primary">Search</button>
                  </form>
                </div> -->
              
            <a class="navbar-brand btn btn-lg btn-danger ms-auto" href="/">Logout</a>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>