{% extends "base2.html" %}
{% load static %}
{% block content %}
<div class="card-wrap ">
                {% for event in booked_events %}
                    <div class="card mb-4 shadow-lg" style="width: 18rem; ">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">
                                <strong>Date:</strong> {{ event.start_date }}<br>
                                <strong>Time:</strong> {{ event.start_time }} to {{ event.end_time }}
                            </p>
                            <a href="{% if event.created_by %}/event-edit/{{ event.created_by.id }}/{{ event.id }}{% endif %}" class="btn btn-primary">check Slots</a>
                        </div>
                    </div>
                {% endfor %}
</div>
{% endblock %}
