<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
           font-size: 3rem;
           color: black;
           font-family: sans-serif;
           text-align: center;
           margin-top: 20%;
           justify-content: center;
           background-color: red;
        }
 
    </style>
</head>
<body>
    <p>You are not authenticated.</p>
</body>
</html>