{% extends "base2.html" %}
{% block content %}
    <h2>Request a Session with {{ teacher.user.name }}</h2>
    <form class="col-3 mx-auto card p-3 shadow-lg" method="post" action="{% url 'request_session' teacher_id=teacher.id %}">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger message" role="alert"> {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Submit Request</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            // Timeout for message disappearance
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 2000); // Adjust the time in milliseconds as needed

            // Delete message on click (optional)
            $('.del-msg').on('click', function() {
                $(this).parent().hide();
            });
        });
    </script>
{% endblock %}