{% extends "base2.html" %}

{% block content %}
    <div class="container mt-5 rounded shadow-lg text-center fixed-length">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img class="img-fluid rounded" src="{{ student.student_image_url }}" alt="student Image">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 mx-auto card shadow-lg">
                <h1 class="text-center">{{ student.user.username|capfirst }}</h1>
                <p class="text-center"><b><i>Institution-type: {{ student.institution_type|capfirst }}</b></i></p>
                <p class="text-center"><b><i>School/University: {{ student.institution_name|capfirst }}</b></i></p>
                <p class="text-center"><b><i>Phone: {{ student.phone }}</b></i></p>

                {% if student.institution_type == "University" %}
                    <p class="text-center"><b><i>Semester: {{ student.standard_or_semester }}</b></i></p>
                {% elif student.institution_type == "School" %}
                    <p class="text-center"><b><i>Standard: {{ student.standard_or_semester }}</b></i></p>
                {% endif %}
            </div>
        </div>

        <!-- Add buttons for profile and booking session -->
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <!-- <button class="btn btn-danger btn-lg btn-block">Update Profile</button> -->
                <a class="btn btn-danger btn-lg btn-block" href="/update-student/{{ student.id }}">Update Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
