{% extends "base2.html" %}

{% block content %}
    <div class="container mt-5 rounded shadow-lg text-center fixed-length" style="font-family: 'Roboto', sans-serif;">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img class="img-fluid rounded" src="{{ student.student_image_url }}" alt="Student Image">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 mx-auto card shadow-lg">
                <h1 class="text-center">{{ student.user.name|capfirst }}</h1>
                <p class="text-center"><b>Institution Type:</b> {{ student.institution_type|capfirst }}</p>
                <p class="text-center"><b>School/University:</b> {{ student.institution_name|capfirst }}</p>
                <p class="text-center"><b>Phone:</b> {{ student.user.phone }}</p>
                {% if student.institution_type == 'University' %}
                <p class="text-center"><b>Semester: {{ student.standard_or_semester }}<sup>th</sup></b></p>
                {% elif student.institution_type == 'School' %}
                <p class="text-center"><b>Standard: {{ student.standard_or_semester }}<sup>th</sup></b></p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <a class="btn btn-danger btn-lg btn-block" href="/update-student/{{ student.id }}">Update Profile</a>
            </div>
        </div>
 </div>
{% endblock %}
