{% extends "base2.html" %}

{% block content %}
    <div class="container mt-5 rounded shadow-lg text-center fixed-length" style="font-family: 'Roboto', sans-serif;">
        <div class="row">
            <div class="col-md-4 mx-auto mt-3">
                <img class="img-fluid rounded" src="{{ teacher.teacher_image_url }}" alt="Teacher Image" height="180vh" width="180vw">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 mx-auto card shadow-lg">
                <p class="text-center"><b>{{ teacher.user.name|capfirst }}</b></p>
                <p class="text-center"><b>Years of Experience: {{ teacher.experience }} years</b></p>
                <p class="text-center"><b>Email: {{ teacher.user.email }}</b></p>
                <p class="text-center"><b>Phone: {{ teacher.user.phone }}</b></p>
                <p class="text-center"><b>Subjects: {{ teacher.subject1.subject }}, {{ teacher.subject2.subject }}, {{ teacher.subject3.subject }}</b></p>
                <p class="text-center"><b>Hourly Rate: {{ teacher.min_hourly_rate }} - {{ teacher.max_hourly_rate }} Rs</b></p>
                <p class="text-center"><b>Teacher Type: {{ teacher.teacher_type }}</b></p>
                {% if teacher.teacher_type == 'College' %}
                    <p class="text-center"><b>Semester: {{ teacher.standard_or_semester }}<sup>th</sup></b></p>
                {% elif teacher.teacher_type == 'School' %}
                    <p class="text-center"><b>Standard: {{ teacher.standard_or_semester }}<sup>th</sup></b></p>
                {% endif %}
            </div>
        </div>

        {% if teacher in student.teachers.all %}
            <div class="row mt-3">
                <div class="col-md-6 mx-auto">
                    <a href="{% url 'add_feedback' teacher_id=teacher.id %}" class="btn btn-primary btn-block">Add Feedback</a>
                </div>
                <div class="col-md-6 mx-auto text-center">
                    <a href="{% url 'book_session' teacher_id=teacher.id %}" class="btn btn-success">Book Session</a>
                </div>
            </div>
        {% else %}
            <div class="row mt-3">
                <div class="col-md-6 mx-auto">
                    <a href="{% url 'register_under_teacher' teacher_id=teacher.id %}" class="btn btn-success btn-sm">Register</a>
                </div>
            </div>
        {% endif %}

        <!-- Display Feedbacks -->
        {% if teacher in student.teachers.all %}
            <div class="row mt-3">
                <div class="col-md-8 mx-auto">
                    <h2 class="text-center">Feedbacks</h2>
                    {% if feedbacks %}
                        {% for feedback in feedbacks %}
                            <div class="card mt-2">
                                <div class="card-body">
                                    <p><b>Rating:</b>
                                        {% for _ in feedback.get_stars %}
                                            &#9733;  
                                        {% endfor %}
                                    </p>
                                    <p><b>Comment:</b> {{ feedback.comment }}</p>
                                    <p><b>Student:</b> {{ feedback.student.username }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">No feedback available.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
