{% extends "base5.html" %}

{% block content %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" action="{% url 'teacher_update' teacher_id=teacher.id %}" method="POST" enctype="multipart/form-data">
        <h1 class="card-title display-6" >Teacher Updation-Page</h1>
        {% csrf_token %}
        <div class="form-group">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Subject-1</label>
                <input type="text" class="form-control" name="sub1" id="exampleInputPassword1" autocomplete="off" pattern="[a-zA-Z ]*">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Subject-2</label>
                <input type="text" class="form-control" name="sub2" id="exampleInputPassword1" autocomplete="off" pattern="[a-zA-Z ]*">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Subject-3</label>
                <input type="text" class="form-control" name="sub3" id="exampleInputPassword1" autocomplete="off" pattern="[a-zA-Z ]*">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Experience</label>
                <input type="number" class="form-control" name="exp" id="exampleInputPassword1" autocomplete="off" min="0">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Min Hourly Rate</label>
                <input type="number" class="form-control" name="min_hourly_rate" id="exampleInputPassword1" autocomplete="off" min="0">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Max Hourly Rate</label>
                <input type="number" class="form-control" name="max_hourly_rate" id="exampleInputPassword1" autocomplete="off" min="0">
            </div>
            <div class="form-group">
                <label for="id_teacher_type">Teacher Type</label>
                <select class="form-control" id="id_teacher_type" name="teacher_type" autocomplete="off" onchange="toggleFields()">
                    <option value="College">College</option>
                    <option value="School">School</option>
                </select>
            </div>

            <div class="form-group" id="semesterField" style="display: none;">
                <label for="id_semester">Semester</label>
                <input type="number" class="form-control" name="semester" id="id_semester" min="1" max="8" autocomplete="off">
            </div>

            <div class="form-group" id="standardField" style="display: none;">
                <label for="id_standard">Standard</label>
                <input type="number" class="form-control" name="standard" id="id_standard" min="1" max="12" autocomplete="off">
            </div>
        <label for="exampleDataList" class="form-label">Gender</label>
        <select class="form-control" id="id_gender_type" name="gender" autocomplete="off">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Teacher Image</label>
                <input type='file' name="teacher_image" class="form-control" autocomplete="off" accept="image/*">
            </div>
        <div class="form-group">
            <input class="btn btn-danger btn-lg btn-block" type="submit" value="Submit">
        </div>
    </form>
</div>
<script>
    function toggleFields() {
        var teacherType = document.getElementById("id_teacher_type").value;
        var semesterField = document.getElementById("semesterField");
        var standardField = document.getElementById("standardField");

        if (teacherType === 'College') {
            semesterField.style.display = 'block';
            standardField.style.display = 'none';
        } else if (teacherType === 'School') {
            semesterField.style.display = 'none';
            standardField.style.display = 'block';
        }
    }
    toggleFields();
</script>
{% endblock %}