<!-- view_fake_wallet.html -->
{% extends "base5.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg mx-auto" style="max-width: 400px;">
        <div class="card-body text-center">
            <h1 class="card-title display-3"> Wallet Balance</h1>
            <img src="/media/teacher/wallet.png" alt="Logo" class="img-fluid rounded-circle mt-5">
            <p class="card-text lead">Your wallet balance is &#8377;{{ wallet.balance }}</p>
        </div>
    </div>
</div>
{% endblock %}
